/* Lesson 2: Decorate your first code */

body {
    background-color: purple;
}

h1 {
    text-align: center;
    color: #00e787;
}

.name__title {
    font-size: 24px;
    color: white;
}

.about__me1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: aquamarine;
}

.facts {
    font-size: 18px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;   
}

.hobby__img {
    text-align: center;
    color:rgb(226, 217, 219);    
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
